/* .ui.inverted.top.fixed.menu {
  background-color: darkslategrey;
} */

.header {
  background-color: teal !important;
  /* display: flex !important;
  justify-content: flex-start;
  align-items: flex-start; */
}
.recycle-icon {
  margin-right: 5px;
}

.ui.menu.fixed {
  position: relative !important;
}

.ui.inverted.menu .item {
  font-size: xx-large;
}

/* .ui.container {
  justify-content: center;
} */
.ui.menu .item:after {
  height: none;
}

#header_container {
  font-size: large;
  font-weight: bold;
  margin-left: 0 !important;
}

.greet {
  min-width: fit-content !important;
  margin-right: 4%;
  align-self: center;
  justify-self: center;
}
.logout {
  background: white !important;
  margin-right: 2%;
  align-self: center;
  justify-self: center;
}
